@media screen and (min-width: 1440px) {

    .header_section img{
        padding: 0px max(140px, calc(50% - 720px));
    }

    .footer_section {
        padding: 0px max(140px, calc(50% - 720px));
    }

    .content {
        padding: 160px max(140px, calc(50% - 720px));
    }

}