/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  font-size: 16px;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* colors */

  --bg_darkblue: #06171e;
  --bg_lightblue: #09212a;
  --text_grey: #99acb3;
  --h_white: #ffffff;
}

.header_section {
  background-color: var(--bg_lightblue);
  padding: 20px 0px;
}

body {
  background-color: var(--bg_darkblue);
}

h1 {
  color: var(--h_white);
  font-family: "Figtree";
  font-weight: 800;
  font-size: 3.5rem;
}

button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.footer_section {
  background-color: var(--bg_lightblue);
  padding: 20px 0px;
  position: sticky;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32.5px 0px 30.5px 0px;
}

.footer_img {
  display: flex;
  justify-content: center;
}

.footer_text {
  color: var(--text_grey);
  font-family: "Figtree";
  font-weight: 400;
  font-size: 0.875rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0px 159px 0px;
  gap: 80px;
}

#photo_gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 16px;
  justify-content: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border: 2px solid #124658;
  object-fit: cover;
  cursor: pointer;

  transition:
    border 700ms,
    box-shadow 300ms;
}

.photo:hover {
  border: 2px solid rgb(107, 193, 225);
  box-shadow: 0 0 20px rgba(107, 193, 225, 0.35);
}

.photo_button {
  border: 2px solid transparent;
}

.photo_button:focus-visible {
  border: 2px solid rgb(107, 193, 225);
  box-shadow: 0 0 20px rgba(107, 193, 225, 0.35);
  border-radius: 16px;
  transition:
    border 700ms,
    box-shadow 300ms;
}

dialog {
  color: var(--h_white);
  font-family: "Figtree";
  border: none;
  padding: 0;
  background: transparent;
  outline: 0;
}

dialog::backdrop {
  background: rgba(6, 23, 30, 0.85);
}

.dialog_card {
  background-color: #09212a;
  border-radius: 40px;
  width: clamp(320px, 70vw, 520px);
  padding: 40px;
}

.dialog_card_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card_headline {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
}

.dialog_img {
  width: 100%;
  height: clamp(260px, 42vh, 380px);
  object-fit: cover;
  box-shadow:
    1px 1px 1px rgba(214, 214, 214, 0.03),
    4px 4px 4px rgba(214, 214, 214, 0.05),
    8px 8px 10px rgba(214, 214, 214, 0.08),
    15px 15px 17px rgba(214, 214, 214, 0.1),
    23px 23px 27px rgba(214, 214, 214, 0.13);
}

.card_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.img_counter {
  width: 60px;
  text-align: center;
}

.arrows_button {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(253, 91, 79, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition:
    background-color 300ms,
    box-shadow 300ms;
}

.arrows_button:hover {
  background-color: rgba(253, 91, 79, 0.2);
  box-shadow: 0 0 16px rgba(253, 91, 79, 0.35);
}

.arrows_button:focus-visible {
  box-shadow: 0 0 16px rgba(253, 91, 79, 0.35);
  outline: 2px solid rgba(253, 91, 79, 0.2);
  transition:
    background-color 300ms,
    box-shadow 300ms;
}

.arrow_left {
  rotate: 180deg;
  cursor: pointer;
}

.arrow_right {
  cursor: pointer;
}

.close_dialog {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 300ms,
    box-shadow 300ms;
}

.close_dialog:hover {
  background-color: #124658;
  box-shadow: 0 0 16px rgba(18, 70, 88, 0.5);
  transition:
    background-color 300ms,
    box-shadow 300ms;
}

.close_dialog:focus-visible {
  background-color: #124658;
  box-shadow: 0 0 16px #124658;
  outline: 2px solid #0d3240;
  transition:
    background-color 300ms,
    box-shadow 300ms;
}

.close_dialog:active {
  background-color: #0d3240;
  transform: scale(0.95);
  box-shadow: 0 0 16px rgb(27, 102, 128);
}
